
h1  {
		background-color:slategrey;
		color: white;
		text-align:center;	
		font-family: Arial, Helvetica, sans-serif;
	}
table, th, td {
		border: 1px solid black;
	}
th {
		text-align: left;
		padding: 8px;
		background-color: slategrey;
	}
td {
		text-align: left;
		padding: 8px;
		background-color: none;
	}
.colouredback {                 /* class colouredback  : */
		background-color: #33CCCC;		/* class frame background colour */
		animation: color 20s infinite linear; /* class coloured "color" animation  */
		padding: 10px 10px;				/* class coloured pdding */
		margin: 4px 2px;				/* class coloured margin */
		color:rgb(19, 30, 85);			/* class coloured font colour */
		font-size: 120%;				/* class coloured font size */
	}
@keyframes color {					/* animation color for .highligh colour change */
		0%   { background: #33CCCC; } /* start colour for animation color */
		20%  { background: #3387cc; } /* colour at %20 of animation color cycle */
		40%  { background: #dc55cf; } /* colour at %40 of animation color cycle */
		60%  { background: #FCCA00; } /* colour at %60 of animation color cycle */
		80%  { background: #33CC36; } /* colour at %80 of animation color cycle */
		100% { background: #33CCCC; } /* end colour for animation color */
	}

#LHalign {
		padding-left: 400px;
	}
#footer {
		position: absolute;
		bottom: 0;
		background-color: slategrey;
		color:white;
		border-style:none;
		clear:both;		
		width: 100%;
		opacity: 70%;
	}
#container {
		position: relative;
		min-height: 100vh;
	}
.frame {
		width: 50%;
		border: Solid;
		border-color: black;
		border-width:thin;
		padding-right: 20px;
		padding-left: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
.frameshort {
		width: 25%;
		border: Solid;
		border-color: black;
		border-width:thin;
		padding-right: 20px;
		padding-left: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
nav ul  {				/* navigation bar and unordered list*/
		list-style-type:none ; /* removing the style tupe for ul*/
		height:25px;           /* navigation bar height set to 25px*/
		float:left;				/* navigation bar set to float from left*/
		border-style:none;		/* navigation bar no border line*/
		background-color:slategrey; /* navigation bar bacground colour*/
		line-height:0.6em;      /* navigation bar height set to 0.6em*/
		width:100%;				/* navigation bar width set at %100 */
		padding:0;				/* navigation bar padding */	
		Margin:0;				/* navigation bar margin */	
		}
		
		
.nav_bar a 	{			/* class nav_bar / anchor */	
		float:left;				/* class nav_bar / anchor float from left */	
		width:10em;				/* class nav_bar / anchor height 10em */	
		Height:9px;				/* class nav_bar / anchor width 9px */	
		text-decoration:none;   /* class nav_bar / anchor no change to test (no decorations) */	
		text-align:center ;		/* class nav_bar / anchor text at centre */	
		color:rgb(255, 255, 255); /* class nav_bar / anchor font colour */	
		background-color:slategrey; /* class nav_bar / anchor background colour */	
		padding: 8px 5px ;					 /* class nav_bar / anchor padding */	
		border-right: 1px solid white;		 /* class nav_bar / anchor style/color of the right border*/	
		}
			
.nav_bar a:hover {
		background-color: #b3eee0;   /* class nav_bar / anchor background colour on mouse hover */
		color: Black;				 /* class nav_bar / anchor font colour on mouse hover */
		}

.img {
		width: 80%;
		height: auto;
		}